/***removing body margin***/
body {
    margin: 0;
    font-family: Arial;
}

/***general***/
.container {
    width: 980px;
    margin: 0 auto;
    height: auto;
    overflow: auto;
}

/*footer*/
#footer {
    width: 100%;
    background: #fff;
    height: auto;
    padding: 30px 0;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

#footer li {
    display: inline-block;
    font-size: 12px;
    color: #737373;
    vertical-align: middle;
    padding-right: 8px;
}

    #footer li a {
        cursor: pointer;
        color: #365899;
        text-decoration: none;
    }

        #footer li a:hover {
            text-decoration: underline;
        }

.more-lang {
    display: block;
    padding: 4px 9px;
    background-color: #f6f7f9;
    border: 1px solid #ced0d4;
    color: #4b4f56;
    border-radius: 2px;
    transition: background-color 0.2s;
}

    .more-lang:hover {
        background-color: #ececec;
    }

.plus-icon {
    display: block;
    background: url("https://static.xx.fbcdn.net/rsrc.php/v3/yg/r/X05JQ1RQ6cR.png") no-repeat -39px -202px;
    width: 10px;
    height: 10px;
}

.languages::after {
    content: "";
    display: block;
    width: 100%;
    border-top: 1px solid #dddfe2;
    margin: 10px 0 8px;
}

#footer .links li {
    padding-right: 16px;
    margin-bottom: 2px;
    position: relative;
}

.ad-choices {
    display: inline-block;
    background: url("https://static.xx.fbcdn.net/rsrc.php/v3/yi/r/b1rgWyjYfmY.png") no-repeat -19px -81px;
    width: 12px;
    height: 12px;
    position: absolute;
    top: 1px;
    right: 2px;
}

.links li:nth-child(28) {
    margin-right: 16px;
}

.copy-rights {
    margin-top: 20px;
    font-size: 11px;
    color: #737373;
}

#footer label {
    color: transparent;
    text-shadow: 0 0 12px #8a8a8a;
    cursor: pointer;
}

#footer input {
    display: none;
}

    #footer input[type="checkbox"]:checked ~ label {
        color: #999;
        text-shadow: none;
    }